

body{
  max-width: 600px;
  color:black;

}


main{
  max-width: 500px;
  padding: 20px 40px 60px ;
  max-height: 800px;
  margin: auto;
  background-color: #e6d19a;

}
.container {
  background-color: rgb(163, 171, 179);
    border-radius: 5px;
    max-width: 400px;
    max-height: 350px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2px;
    box-shadow: 3px 3px 2px 1px 
              rgba(0, 0, 14, 0.5),
              inset 0 -3em 3em rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    width: 60%;
    height: 5px;
  }


  #comment{
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 3px;
    border:black;
    margin-bottom: 5px;
    width: auto
  }


  button {
    background-color: #54be58;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #146115;
  }


  div#Preview{
    background-color: rgb(212, 193, 161);
    padding: 4px;
  }

  ul {
    background-color: #e9e3d9;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: left;
    position: relative;
  }

  /* li.done { */
    /* text-decoration: line-through; */
  /* } */

  ul button {
    position:absolute;
    right: 10px;
    top: 45px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  ul button:hover {
    background-color: rgb(141, 34, 34);
  }

  ul button#btn2 {
    position:absolute;
    right:10px;
    top:6px;
    background-color: rgb(83, 197, 6);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  ul button#btn2:hover {
    background-color: rgb(39, 78, 20);
  }